<!DOCTYPE html>
<html>

<head>
	<title>Ministry of Coal</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/chatbot.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<script src="https://kit.fontawesome.com/1165876da6.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
	<!-- *******  Link To Custom CSS Style Sheet  ******* -->
	<!--<link rel="stylesheet" type="text/css" href="style.css">-->

	<!-- *******  Font Awesome Icons Link  ******* -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

	<!-- *******  Owl Carousel Links  ******* -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />

	<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script src="/static/chatscript.js" defer></script>
</head>

<body onload="fetchData()">
	
	<nav style="width:100%">
		<li><a class="active" href="">About Bot</a></li>
		<li><a href="/subscribe/"
				style="font-weight:bold;color:black;font-family: Verdana, Geneva, Tahoma, sans-serif;">Premium</a></li>
		<!-- <li><a href="chat.html" style="font-weight:bold;color:black;font-family: Verdana, Geneva, Tahoma, sans-serif;">Coal Bot</a></li> -->
		<!--<li><a href="lang.html"
				style="font-weight:bold;color:black;font-family: Verdana, Geneva, Tahoma, sans-serif;">Language</a></li>-->
		<li><a href="/history"
				style="font-weight:bold;color:black;font-family: Verdana, Geneva, Tahoma, sans-serif;">History</a></li>
		<li><a href="complaint.html"
				style="font-weight:bold;color:black;font-family: Verdana, Geneva, Tahoma, sans-serif;">Complaint</a>
		</li>
		<li><a href="#feedback"
				style="font-weight: bold; color:rgb(0, 0, 0);font-family: Verdana, Geneva, Tahoma, sans-serif;">Feedback</a>
		</li>
		<!--<li><a style="text-align: right; text-align: center; font-weight: bold;
			padding: 10px;
			font-family:'Times New Roman', Times, serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			background-color: #811574;
			color: white;
			border-radius: 5px;
			cursor: pointer;" href="login.html">Login/Sign Up</a></li>-->
			<div id="login"><li><a href="/login&signup/"
				style="font-weight:bold;color:black;font-family: Verdana, Geneva, Tahoma, sans-serif;">Login</a></li></div>
	</nav>

	
	<div class="slideshow-container">

		<div class="mySlides fade">
		  <img src="/static/fire.jpg" style="width:100%">
		</div>
		
		<div class="mySlides fade">
		  <img src="/static/img2.png" style="width:100%">
		</div>
		
		<div class="mySlides fade">
		  <img src="/static/img3.png" style="width:100%">
		</div>
		
		<div class="mySlides fade">
		  <img src="/static/img4.png" style="width:100%">
		</div>
		
		<div class="mySlides fade">
		  <img src="/static/img5.png" style="width:100%">
		</div>
		
		</div>
		<br>
				
		<div style="text-align:center">
		  <span class="dot"></span> 
		  <span class="dot"></span> 
		  <span class="dot"></span> 
		  <span class="dot"></span>
		  <span class="dot"></span>
		</div>

		
		
		<script>
		let slideIndex = 0;
		showSlides();
		
		function showSlides() {
		  let i;
		  let slides = document.getElementsByClassName("mySlides");
		  let dots = document.getElementsByClassName("dot");
		  for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";  
		  }
		  slideIndex++;
		  if (slideIndex > slides.length) {slideIndex = 1}    
		  for (i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" active", "");
		  }
		  slides[slideIndex-1].style.display = "block";  
		  dots[slideIndex-1].className += " active";
		  setTimeout(showSlides, 4000);
		}
		</script>

	
		<br />
		<br />
		<br />
	<br />
	<hr><br>
	<p style="margin-left: 55px;
		 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		  font-size:x-large; 
		  color: rgb(112, 18, 118);
		  font-weight: bold;" data-aos="fade-left" data-aos-delay="250"><strong
			style="font-weight: bold; color: #000000; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Welcome
			To Coalbot</strong> , your dedicated Mining Regulations
		Assistant. CoalBot is designed to provide quick, accurate, and accessible information on acts, rules, and
		regulations governing mining operations in India. One of its standout features is the ability to ask questions
		in the form of images, making it even more convenient for users. Additionally, CoalBot offers voice assistance
		in multiple languages, ensuring accessibility for a diverse user base. Moreover, you have the option to post a
		complaint, providing a comprehensive platform for addressing concerns. With a user-friendly interface and
		regular updates, CoalBot is your go-to resource for navigating the intricacies of mining laws. Simply type your
		query, upload an image, or use voice commands, and get the information you need, hassle-free. Thank you for
		choosing CoalBot as your trusted companion in understanding mining regulations in India.</p>
	<br>
	<p style="margin-left: 55px;
		  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		   font-size:xx-large; 
		   font-weight:bold;
		   color: rgb(0, 0, 0);
		   font-weight: bold;" data-aos="fade-right" data-aos-delay="250"> How To Use Our Coal Bot :</p>
	<br>
	<p style="margin-left: 55px;
		  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		   font-size:x-large; 
		   color:#840d5c;
		   font-weight: bold;" data-aos="fade-left" data-aos-delay="250"><span style="color:#000;font-weight:bold;"
			class="material-symbols-outlined">psychology</span> Using CoalBot is as simple as sending a text
		message.</p>
	<p style="margin-left: 55px;
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		 font-size:x-large; 
		 color:#168b60;
		 font-weight: bold;" data-aos="fade-left" data-aos-delay="250"><span style="color:#000;font-weight:bold;"
			class="material-symbols-outlined">psychology</span> In your query, and our chatbot will provide you with
		clear and concise information regarding
		the relevant acts, rules, and regulations for mining in India.</p>
	<p style="margin-left: 55px;
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		 font-size:x-large; 
		 color:#840d5c;
		 font-weight: bold;" data-aos="fade-left" data-aos-delay="250"><span style="color:#000;font-weight:bold;"
			class="material-symbols-outlined">psychology</span> But that's not all - CoalBot goes above and
		beyond.you prefer visual communication, you can send us an image related to your query, and CoalBot will
		analyze it to provide you with accurate and relevant information.</p>
	<p style="margin-left: 55px;
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		 font-size:x-large; 
		 color:#168b60;
		 font-weight: bold;" data-aos="fade-left" data-aos-delay="250"><span style="color:#000;font-weight:bold;"
			class="material-symbols-outlined">psychology</span> Our advanced image recognition capabilities
		ensure that you receive the right answers, even when words may not suffice.</p>
	<p style="margin-left: 55px;
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		 font-size:x-large; 
		 color:#840d5c;
		 font-weight: bold;" data-aos="fade-left" data-aos-delay="250"><span style="color:#000;font-weight:bold;"
			class="material-symbols-outlined">psychology</span> whether you choose to type, send
		images, or use your voice, CoalBot is here to assist you every step of the way.</p>
	<p style="margin-left: 55px;
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		 font-size:x-large; 
		 color:#168b60;
		 font-weight: bold;" data-aos="fade-left" data-aos-delay="250"><span style="color:#000;font-weight:bold;"
			class="material-symbols-outlined">psychology</span> Simplifying mining regulations
		has never been this efficient or convenient. Try it out today and experience the future of mining information at
		your fingertips.</p>
	<br>
	<div class="Gif2">
		<img src="/static/img/gif/end.gif">
	</div>
	</div>
	<div>
		<br><br>

		<left>
			<p style="text-align:left; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:x-large; margin-left:10%;color:#000000"
				data-aos="fade-up" data-aos-delay="250">
				CoalBot's Premium Features:</p>
			<p style="text-align:left; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:medium; margin-left:10%;color:rgb(33, 150, 86)"
				data-aos="fade-up" data-aos-delay="250"> <strong style="font-weight: bold;color: black;">Image
					Processing:</strong> Users can upload images for analysis. CoalBot converts the image to text,
				providing relevant information on the data analyzed.</p>
			<p style="text-align:left; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:medium; margin-left:10%;color:rgb(112, 18, 118)"
				data-aos="fade-up" data-aos-delay="250"><strong style="font-weight: bold;color: black;">Voice
					Assistance:</strong> Available in multiple regional languages, allowing users to ask queries
				effortlessly and provides a best User Experience.
			<p>


				<left>
					<p style="text-align:left; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:x-large; margin-left:10%;color:#000000"
						data-aos="fade-up" data-aos-delay="250">
						How CoalBot Helps:</p>

					<p style="text-align:left; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:medium; margin-left:10%;color:rgb(33, 150, 86)"
						data-aos="fade-up" data-aos-delay="250"> <strong style="font-weight: bold;color: black;">Mining
							Regulations:</strong> Resolves queries regarding acts, rules, and regulations for the mining
						industries and Ministry of Coal.</p>

					<p style="text-align:left; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:medium; margin-left:10%;color:rgb(112, 18, 118)"
						data-aos="fade-up" data-aos-delay="250"> <strong style="font-weight: bold;color: black;">
							Spell Check Feature:</strong>Ensures accurate responses.</p>
					<p style="text-align:left; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:medium; margin-left:10%;color:rgb(33, 150, 86)"
						data-aos="fade-up" data-aos-delay="250"> <strong style="font-weight: bold;color: black;">
							Notification System: </strong> Users updated on new acts.</p>
					<p style="text-align:left; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:medium; margin-left:10%;color:rgb(112, 18, 118)"
						data-aos="fade-up" data-aos-delay="250"> <strong style="font-weight: bold;color: black;">
							Feedback and Complaints:</strong> Provides a platform for user input.
					</p>
				</left>
	</div>
	</div>
	<br />

	<img src="/static/img/gif/giphy.gif" style="margin-left: 29%; width:40%; height:40%;"><br><br><br>




	<svg viewBox="0 0 960 300" data-aos="fade-up" data-aos-delay="250">
		<symbol id="s-text">
			<text text-anchor="middle" x="50%" y="50%"> Coal Bot</text>
		</symbol>

		<g class="g-ants">
			<use xlink:href="#s-text" class="text-copy"></use>
			<use xlink:href="#s-text" class="text-copy"></use>
			<use xlink:href="#s-text" class="text-copy"></use>
			<use xlink:href="#s-text" class="text-copy"></use>
			<use xlink:href="#s-text" class="text-copy"></use>
		</g>
	</svg>
	<center>
		<h1 id="hashtag1"
			style="color: #168b60;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold ;"
			data-aos="zoom-out" data-aos-delay="250">Ministry of Coal</h1>
	</center>
	<center>
		<p id="feedback" style="color:#840d5c" data-aos="zoom-out" data-aos-delay="250">To produce and market
			the planned quantity of coal and coal products efficiently and economically in an eco-friendly manner with
			due regard to safety, conservation and quality and to emerge as a global player in the primary energy sector
			committed to provide energy security to the country by attaining environmentally & socially sustainable
			growth through best practices from mine to market.</p>
	</center>

	<div>
		<center><img src="/static/img/gif/start.gif"></center>
	</div>
	<div class="social-hub" id="socialhub" data-aos="flip-down" data-aos-delay="250">
		<h3 class="important-heading">
			<strong
				style="color:#073021; font-weight: bold; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Our
				Beneficial
				services</strong>
		</h3>
		<div class="block whatsapp" style="background-color:#af197d">
			<div class="icon">
				<a href="https://api.whatsapp.com/send/?phone=919477011383" target="_blank">
					<!-- <img src="img/icons/whatsapp.png" alt="" /> -->
				</a>
			</div>
			<div class="text-area">
				<a href="https://api.whatsapp.com/send/?phone=919477011383" target="_blank">
					<!-- <h3><strong>+91-919477011383</strong></h3></a> -->
					<h3><strong
							style="font-size:large;font-style: italic;font-weight: bold;font-weight: 500;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: #000;">24/7
							SERVICES</strong></h3>
				</a>
				<p
					style="font-size:large;font-style: italic;font-weight: bold;font-weight:bold;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: #ffffff;">
					We stay 24/7 active and provide the best services to our users</p>
				<!-- <p><a href="https://api.whatsapp.com/send/?phone=919477011383" target="_blank">WhatsApp</a></p>
				-->
			</div>
		</div>

		<div class="block messenger" style="background-color: #1eb67f">
			<div class="icon">
				<a href="https://twitter.com/CoalIndiaHQ?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Escreen-name%3ACoalIndiaHQ%7Ctwcon%5Es1_c1"
					target="_blank">
					<!-- <img src="img/icons/tweet.png" alt="" /> -->
				</a>
			</div>
			<div class="text-area">
				<a href="https://twitter.com/CoalIndiaHQ?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Escreen-name%3ACoalIndiaHQ%7Ctwcon%5Es1_c1"
					target="_blank">
					<!-- <h3><strong>@coal India Limited</strong></h3> -->
					<h3><strong
							style="font-size:large;font-style: italic;font-weight: bold;font-weight:bold;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: #000000;">EFFICIENT
							FEEDBACK SYSTEM</strong></h3>
					<p
						style="font-size:large;font-style: italic;font-weight: bold;font-weight:bold;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color:#000000;">
						The feedback system make sure to deliver your feedbacks to government</p>
				</a>
				<!-- <p><a href="https://twitter.com/CoalIndiaHQ?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Escreen-name%3ACoalIndiaHQ%7Ctwcon%5Es1_c1" target="_blank">Twitter X</a></p>
				-->
			</div>
		</div>

		<div class="block facebook" style="background-color:#af197d">
			<div class="icon">
				<a href="https://www.facebook.com/MyGovIndia/" target="_blank">
					<!-- <img src="img/icons/facebook.png" alt="" /> -->
				</a>
			</div>
			<div class="text-area">
				<a href="https://www.facebook.com/coalindiaHQ" target="_blank">
					<!-- <h3><strong>@Coal India Limited</strong></h3> -->
					<h3><strong
							style="font-size:large;font-style: italic;font-weight: bold;font-weight:bold;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color:#000000;">REAL
							TIME NOTIFICATIONS</strong></h3>
					<p
						style="font-size:large;font-style: italic;font-weight: bold;font-weight:bold;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color:#ffffff;">
						The current updates we provide keeps users on latest track</p>
					<p></p>
				</a>
				<!-- <p><a href="https://www.facebook.com/coalindiaHQ"  target="_blank">Facebook Page</a></p>
				-->
			</div>
		</div>
	</div>
	</div>
	<!-- <div class="testimonials-section"> -->

	<!-- Section Header Starts -->
	<!-- <header class="section-header"> -->
	<!-- <h1>What Clients Say</h1> -->
	<!-- </header> -->
	<!-- Section Header Ends -->

	<!-- Owl Carousel Slider Starts -->
	<!-- <div class="owl-carousel owl-theme testimonials-container" data-aos="zoom-in" data-aos-delay="250"> -->
	<!-- Item1 Starts -->
	<!--<div class="item testimonial-card">
				<main class="test-card-body">
					<div class="quote">
						<i class="fa fa-quote-left"></i>
						<h2>Awesome Coding</h2>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
						voluptate velit esse.</p>
					<div class="ratings">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
					</div>
				</main>
				<div class="profile">
					<div class="profile-image">
						<img src="image1.jpg">
					</div>
					<div class="profile-desc">
						<span>Person Name</span>
						<span>Description</span>
					</div>
				</div>
			</div>-->
	<!-- Item1 Ends -->

	<!-- Item2 Starts -->
	<!--<div class="item testimonial-card">
				<main class="test-card-body">
					<div class="quote">
						<i class="fa fa-quote-left"></i>
						<h2>Awesome Coding</h2>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
						voluptate velit esse.</p>
					<div class="ratings">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
					</div>
				</main>
				<div class="profile">
					<div class="profile-image">
						<img src="image2.jpg">
					</div>
					<div class="profile-desc">
						<span>Person Name</span>
						<span>Description</span>
					</div>
				</div>
			</div>-->
	<!-- Item2 Ends -->

	<!-- Item3 Starts -->
	<!-- <div class="item testimonial-card"> 
				<main class="test-card-body">
					<div class="quote">
						<i class="fa fa-quote-left"></i>
						<h2>Awesome Coding</h2>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
						voluptate velit esse.</p>
					<div class="ratings">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
					</div>
				</main>
				<div class="profile">
					<div class="profile-image">
						<img src="image3.jpg">
					</div>
					<div class="profile-desc">
						<span>Person Name</span>
						<span>Description</span>
					</div>
				</div>
			</div>-->
	<!-- Item3 Ends -->

	<!-- Item4 Starts -->
	<!-- <div class="item testimonial-card"> 
				<main class="test-card-body">
					<div class="quote">
						<i class="fa fa-quote-left"></i>
						<h2>Awesome Coding</h2>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
						voluptate velit esse.</p>
					<div class="ratings">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
					</div>
				</main>
				<div class="profile">
					<div class="profile-image">
						<img src="image4.jpg">
					</div>
					<div class="profile-desc">
						<span>Person Name</span>
						<span>Description</span>
					</div>
				</div>
			</div>-->
	<!-- Item4 Ends -->

	<!-- Item5 Starts -->
	<!-- <div class="item testimonial-card"> 
				<main class="test-card-body">
					<div class="quote">
						<i class="fa fa-quote-left"></i>
						<h2>Awesome Coding</h2>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
						voluptate velit esse.</p>
					<div class="ratings">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
					</div>
				</main>
				<div class="profile">
					<div class="profile-image">
						<img src="image5.jpg">
					</div>
					<div class="profile-desc">
						<span>Person Name</span>
						<span>Description</span>
					</div>
				</div>
			</div>-->
	<!-- Item5 Ends -->

	<!-- Item6 Starts -->
	<!-- <div class="item testimonial-card"> 
				<main class="test-card-body">
					<div class="quote">
						<i class="fa fa-quote-left"></i>
						<h2>Awesome Coding</h2>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
						voluptate velit esse.</p>
					<div class="ratings">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
					</div>
				</main>
				<div class="profile">
					<div class="profile-image">
						<img src="image6.jpg">
					</div>
					<div class="profile-desc">
						<span>Person Name</span>
						<span>Description</span>
					</div>
				</div>
			</div>-->
	<!-- Item6 Ends -->

	<!-- </div> -->
	<!-- Owl Carousel Slider Ends -->

	<!-- </div> -->
	<section data-aos="fade-right" data-aos-delay="250">
		<h1 class="title"
			style="color: #000000;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold ;">
			FAQ's</h1>

		<div class="questions-container">
			<div class="question">
				<button>
					<span
						style="color: #ffffff;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold ;">Whether
						the coalbot is interactive and personalized?</span>
					<i class="fas fa-chevron-down d-arrow"></i>
				</button>
				<p
					style="color:#14714f;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold ;">
					CoalBot offers interactive features such as Q&A sessions and the ability to ask specific questions
					about coal mining, uses, and technologies.This anticipate personalized suggestions on
					energy-efficient practices, clean coal technologies, or suitable coal types based on specific needs
					or industries.</p>
			</div>

			<div class="question">
				<button>
					<span
						style="color: #ffffff;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold ;">Is
						the coalbot updated?</span>
					<i class="fas fa-chevron-down d-arrow"></i>
				</button>
				<p
					style="color:#14714f;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold ;">
					CoalBot provides current acts,rules and regulations and it is effectively known for its interactions
					and feautures.</p>
			</div>

			<div class="question">
				<button>
					<span
						style="color: #ffffff;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold ;">Are
						premium features paid, is it worth the cost?</span>
					<i class="fas fa-chevron-down d-arrow"></i>
				</button>
				<p
					style="color:#14714f;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold ;">
					Elevate your convenience through experiencing multilingual voice assistance, breaking language
					barriers,cutting-edge image processing capabilities, transforming visual data into actionable
					insights effortlessly and enhancing communication globally with our premium subscription.</p>
			</div>

			<div class="question">
				<button>
					<span
						style="color: #ffffff;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold ;">Is
						there any age limit and timings to access this website?</span>
					<i class="fas fa-chevron-down d-arrow"></i>
				</button>
				<p
					style="color:#14714f;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold ;">
					People who have valid login credentials can unlock the power of innovation with our coalbot and
					users can access website 24/7 without any restrictions. </p>
			</div>

		</div>
	</section>

	<footer>

		<div class="container">
			<div class="footer-content">
				<h3
					style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-style: italic;font-size:xx-large;color: #af1616;">
					Contact Us</h3>
				<p
					style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-style: italic;font-size:larger;color: #af197d;">
					<strong
						style="color: #000; font-family: 'Times New Roman', Times, serif;">Email:</strong>byteblazequerists@gmail.com
				</p>
				<!-- <p>Phone:+91-919477011383</p> -->
			</div>
			<div class="footer-content">
				<h3
					style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-style: italic;font-size:xx-large;color:#168b60">
					Follow Us</h3>
				<ul class="social-icons">
					<li><a href=""><i class="fab fa-facebook"></i></a></li>
					<li><a href=""><i class="fab fa-twitter"></i></a></li>
					<li><a href=""><i class="fab fa-instagram"></i></a></li>
					<li><a href=""><i class="fab fa-linkedin"></i></a></li>
				</ul>
			</div>
		</div>
		<p
			style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-style: italic;font-size:xx-large;color: #000000;">
			Authors :
		<p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-style: italic;"> © <span
				class="role"
				style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-style: italic;font-size:xx-large;color:#168b60;font-weight: bold;">ByteBlaze
				<strong
					style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-style: italic;font-size:xx-large;color:#a01672;">Querists</strong></span>
			2023</p>
		</div>
		</p>

	</footer>
	<!--   *****   JQuery Link   *****   -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

	<!--   *****   Owl Carousel js Link  *****  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<script>
		AOS.init({
			duration: 1200,
			once: false,
		});

		$('.testimonials-container').owlCarousel({
			loop: true,
			autoplay: true,
			autoplayTimeout: 6000,
			margin: 10,
			nav: true,
			navText: ["<i class='fa-solid fa-arrow-left'></i>",
				"<i class='fa-solid fa-arrow-right'></i>"],
			responsive: {
				0: {
					items: 1,
					nav: false
				},
				600: {
					items: 1,
					nav: true
				},
				768: {
					items: 2
				},
			}
		})

		var typeData = new Typed(".role", {
			strings: [
				"ByteBlaze Querists",
				"ByteBlaze Querists",

			],
			loop: true,
			typeSpeed: 100,
			backSpeed: 80,
			backDelay: 1000,
		});

		const buttons = document.querySelectorAll('button');

		buttons.forEach(button => {
			button.addEventListener('click', () => {
				const faq = button.nextElementSibling;
				const icon = button.children[1];

				faq.classList.toggle('show');
				icon.classList.toggle('rotate');
			})
		})
	</script>

	<button class="chatbot-toggler">
		<span class="material-symbols-rounded">mode_comment</span>
		<span class="material-symbols-outlined">close</span>
	</button>
	<div class="chatbot">
		<header>
			<h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size:medium;font-weight: bold;">🤖 CoalBot
			</h2>
			<span class="close-btn material-symbols-outlined">close</span>
		</header>
		<ul class="chatbox">
			<li class="chat incoming">
				<span class="material-symbols-outlined">psychology</span>
				<p id="bot-response">Hi there 👋 I am an AI Coalbot<br></p>
			</li>
		</ul>
		<div class="chat-input">
			<span id="send-btn" class="material-symbols-outlined">translate</span>
			<textarea placeholder="Enter a message..." spellcheck="true" required id="message"></textarea>
			<span id="send-btn" class="material-symbols-rounded">photo_camera</span>
			<span id="send-btn" style="color:#1eb67f;" class="material-symbols-rounded">keyboard_voice</span>
			<span id="send-btn1" style="color:#af197d;" class="material-symbols-rounded">send</span>
		</div>
	</div>
</body>
<script src="/static/messages.js"></script>
</html>