<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ByteBlaze Querists Coalbot</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="static/history.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,300">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400&family=Finger+Paint&display=swap">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>  
  <div class="card">
    <div id="header">
        <img src="static/coalmine.jpg" style="float: left " width="61px" height="61px"><h1 style="text-align:center; font-weight: bolder;" >Coal Bot 🤖</h1>
</div>
    <div id="message-section">
      <div class="message" id="bot"><span id="bot-response">Hello.. I'm listening! Go on..</span></div>
    </div>
    <br><br>
    <button style="background-color:#1eb67f; background-image:linear-gradient(#1eb67f,#176bab,#8b0e79);font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold; margin-left: 425px; border-radius: 50px;color: aliceblue; " onclick="clearHistory()">Clear History</button>
    <script src="static/script3.js"></script>