<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription page</title>
    <link rel="stylesheet" href="/static/subscription.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,300">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400&family=Finger+Paint&display=swap">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="wrapper">
    <div class="table basic">
        <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="text"></span>
            <span class="price">₹250</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
          <span class="list-name">Notified with latest updates</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Multilingual responses</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Voice assistance</span>
          <span class="icon cross"><i class="fa fa-times-circle"></i></span>
        </li>
        <li>
          <span class="list-name">Image Processing</span>
          <span class="icon cross"><i class="fas fa-times-circle"></i></span>
        </li>
      </ul>
      <div class="btn"><button onclick="purchase(1)">Purchase</button></div>
    </div>
    <div class="table premium">
      <div class="ribbon"><span>Recommended</span></div>
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="text"></span>
            <span class="price">₹500</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
          <span class="list-name">Notified with latest updates</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Multilingual responses</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Voice assistance</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Image Processing</span>
          <span class="icon cross"><i class="fas fa-times-circle"></i></span>
        </li>
      </ul>
      <div class="btn"><button onclick="purchase(2)">Purchase</button></div>
    </div>
    <div class="table ultimate">
    <div class="ribbon"><span>High demand</span></div>
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="text"></span>
            <span class="price">₹750</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
          <span class="list-name">Notified with latest updates</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Multilingual responses</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Voice assistance</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Image Processing</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
      </ul>
      <div class="btn"><button onclick="purchase(3)">Purchase</button></div>
    </div>
  </div>

</body>
<script src="/static/subscribe.js"></script>
</html>
